@{
    Layout = "_AdminLayout";
}

<div class="container mt-5">
    <div class="text-center mb-5">
        <h1 class="display-4 text-dark">Welcome, Admin!</h1>
        <p class="lead text-secondary">This is your dashboard. Manage books, orders and Get the Top Selling Books</p>
    </div>

   
</div>
